In [8]:
import requests
# get alpaca api keys using this guide: https://alpaca.markets/docs/market-data/getting-started/#creating-an-alpaca-account-and-finding-your-api-keys
from secrets_config import api_key_id, api_secret_key 
import pandas as pd

In [9]:
# docs: https://alpaca.markets/docs/api-references/market-data-api/stock-pricing-data/historical/

"""
request data with the following parameters: 
- stock: tesla 
- start date: 01/01/2020
- end date: 02/01/2020
"""
stock_ticker = "tsla" # tlsa maps to tesla
base_url = f"https://data.alpaca.markets/v2/stocks/{stock_ticker}/trades"
start_time = "2020-01-01T00:00:00.00Z"
end_time = "2020-01-02T00:00:00.00Z"

"""
to authenticate to the api, you will need to use the APCA-API-KEY-ID and APCA-API-SECRET-KEY fields. 
for example:
    headers = {
        "APCA-API-KEY-ID": "<your_api_key_id>",
        "APCA-API-SECRET-KEY": "<your_api_secret_key>"
    }   

and in the request.get() method, you will have to use: 
    requests.get(url=url, params=params, headers=headers)
"""

response_data = []

params = {
    "start": start_time,
    "end": end_time
}

# auth example: https://alpaca.markets/docs/api-references/trading-api/
headers = {
    "APCA-API-KEY-ID": api_key_id,
    "APCA-API-SECRET-KEY": api_secret_key
}
response = requests.get(base_url, params=params, headers=headers)
if response.json().get("trades") is not None: 
    response_data.extend(response.json().get("trades"))

In [11]:
# read json data to a dataframe 
df_quotes = pd.json_normalize(data=response_data, meta=["symbol"])

In [ ]:
# rename columns to more meaningful names: 
# "t": "timestamp" 
# "x": "exchange"
# "p": "price"
# "s": "size" 
# TODO: your code here

In [12]:
# keep only 'timestamp', 'exchange', 'price', 'size' columns 
# TODO: your code here

In [13]:
# read exchange_codes.csv into a dataframe 
# TODO: your code here

In [14]:
# join df_trades with df_exchange_codes. Look for a common field to join on. 
# remove the fields "exchange_code", "exchange"
# rename "exchange_name" to "exchange"
# TODO: your code here

                   timestamp   price  size   exchange
0  2020-01-01T00:00:20.4997Z  418.93    60  Cboe EDGX
1  2020-01-01T00:00:38.5731Z  418.70    10  Cboe EDGX
2  2020-01-01T00:09:35.5596Z  418.75    20  Cboe EDGX
3  2020-01-01T00:10:13.0418Z  418.75   115  Cboe EDGX
4  2020-01-01T00:10:28.0684Z  418.75   200  Cboe EDGX

In [19]:
# remove duplicates by doing a group by on the keys: timestamp and exchange
# get the mean of price, and sum of size
# reset the index of the output dataframe 
# TODO: your code here

                   timestamp    exchange   price  size
0  2020-01-01T00:00:20.4997Z   Cboe EDGX  418.93    60
1  2020-01-01T00:00:38.5731Z   Cboe EDGX  418.70    10
2  2020-01-01T00:00:50.8222Z  NASDAQ Int  418.74     5
3  2020-01-01T00:06:12.9975Z   FINRA ADF  418.75     8
4  2020-01-01T00:09:35.5596Z   Cboe EDGX  418.75    20